<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	 version="2.4">

	<display-name>server</display-name>

	<listener>     
	  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>     
	</listener>  
	
	<listener>
		<listener-class>com.blake.listener.BackgroundListener</listener-class>
	</listener>

	<!--contextConfigLocation在 ContextLoaderListener类中的默认值是 /WEB-INF/applicationContext.xml-->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- <param-value>/WEB-INF/applicationContext.xml</param-value>  -->
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>


 	<servlet>  
         <servlet-name>HttpRequestHandlerServlet</servlet-name>  
         <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>  
     </servlet>  
     <servlet>  
         <servlet-name>DecouplerSreverHandler</servlet-name>  
         <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>  
     </servlet>
     
     <servlet-mapping>  
         <servlet-name>HttpRequestHandlerServlet</servlet-name>  
         <url-pattern>/api/request</url-pattern>  
     </servlet-mapping> 
     <servlet-mapping>  
         <servlet-name>DecouplerSreverHandler</servlet-name>  
         <url-pattern>/decouple/request</url-pattern>  
     </servlet-mapping> 
         
</web-app>
